<a href="https://colab.research.google.com/github/mesrp88/pdf_to_csv/blob/main/pdf_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/cf/29/d6cb0d77ef46d84d35cffa09cf42c73b373aea664d28604eab6818f8a47c/tabula_py-2.2.0-py3-none-any.whl (11.7MB)
     |████████████████████████████████| 11.7MB 312kB/s
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.2.0

In [4]:
import pandas as pd
import tabula

In [6]:
file_path='/content/ioe.pdf'
df = tabula.read_pdf(file_path, pages='all')

In [14]:
tabula.convert_into(file_path, "output.csv", output_format="csv", pages='all')

In [15]:
from google.colab import files

        
files.download('output.csv')

In [19]:
df1=pd.read_csv('/content/output.csv')
df1.head()
df1=df1.drop(['SNo', 'Remarks'], axis=1)

In [20]:
df1.head()

       FormNo        Applicant's Name Gender   District  Rank
0    2077-220           Aabhash Thapa   Male  Kathmandu    36
1   2077-9083       Aabhushan Gajurel   Male   Chitawan  1035
2   2077-1959       Aabhushan Sapkota   Male  Kathmandu  1672
3   2077-3943  Aabhuson Moon Shrestha   Male  Kathmandu  1774
4  2077-10839          Aabik Maharjan   Male   Lalitpur  6565

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6837 entries, 0 to 6836
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FormNo            6837 non-null   object
 1   Applicant's Name  6837 non-null   object
 2   Gender            6837 non-null   object
 3   District          6837 non-null   object
 4   Rank              6837 non-null   object
dtypes: object(5)
memory usage: 267.2+ KB

In [35]:
 useless= df1[df1["Rank"]=='Rank']
 useless

      FormNo  Applicant's Name  Gender  District  Rank
60    FormNo  Applicant's Name  Gender  District  Rank
121   FormNo  Applicant's Name  Gender  District  Rank
182   FormNo  Applicant's Name  Gender  District  Rank
243   FormNo  Applicant's Name  Gender  District  Rank
304   FormNo  Applicant's Name  Gender  District  Rank
...      ...               ...     ...       ...   ...
6587  FormNo  Applicant's Name  Gender  District  Rank
6648  FormNo  Applicant's Name  Gender  District  Rank
6709  FormNo  Applicant's Name  Gender  District  Rank
6770  FormNo  Applicant's Name  Gender  District  Rank
6831  FormNo  Applicant's Name  Gender  District  Rank

[112 rows x 5 columns]

In [38]:
to_delete =list(useless.index)

In [40]:
df1_final=df1.drop(index=to_delete, axis=0)

In [41]:
df1_final.head()

       FormNo        Applicant's Name Gender   District  Rank
0    2077-220           Aabhash Thapa   Male  Kathmandu    36
1   2077-9083       Aabhushan Gajurel   Male   Chitawan  1035
2   2077-1959       Aabhushan Sapkota   Male  Kathmandu  1672
3   2077-3943  Aabhuson Moon Shrestha   Male  Kathmandu  1774
4  2077-10839          Aabik Maharjan   Male   Lalitpur  6565

In [42]:
df1_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6725 entries, 0 to 6836
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FormNo            6725 non-null   object
 1   Applicant's Name  6725 non-null   object
 2   Gender            6725 non-null   object
 3   District          6725 non-null   object
 4   Rank              6725 non-null   object
dtypes: object(5)
memory usage: 315.2+ KB

In [47]:
df1_final['Rank']=pd.to_numeric(df1_final['Rank'])

In [48]:
df1_final.head()

       FormNo        Applicant's Name Gender   District  Rank  rank
0    2077-220           Aabhash Thapa   Male  Kathmandu    36    36
1   2077-9083       Aabhushan Gajurel   Male   Chitawan  1035  1035
2   2077-1959       Aabhushan Sapkota   Male  Kathmandu  1672  1672
3   2077-3943  Aabhuson Moon Shrestha   Male  Kathmandu  1774  1774
4  2077-10839          Aabik Maharjan   Male   Lalitpur  6565  6565

In [51]:
df1_final.drop('rank',axis=1, inplace=True)

In [52]:
df1_final.head()

       FormNo        Applicant's Name Gender   District  Rank
0    2077-220           Aabhash Thapa   Male  Kathmandu    36
1   2077-9083       Aabhushan Gajurel   Male   Chitawan  1035
2   2077-1959       Aabhushan Sapkota   Male  Kathmandu  1672
3   2077-3943  Aabhuson Moon Shrestha   Male  Kathmandu  1774
4  2077-10839          Aabik Maharjan   Male   Lalitpur  6565

In [54]:
df_order= df1_final.sort_values('Rank')
df_order

          FormNo       Applicant's Name  Gender    District  Rank
6266   2077-2096           Suman Tamang    Male  Solukhumbu     1
3966    2077-140         Prasun Sitaula    Male       Jhapa     2
5422     2077-70           Saroj Basnet    Male     Bhojpur     3
6706   2077-4158        Utsav Manandhar    Male   Kathmandu     4
2519   2077-3907      Kalpesh Manandhar    Male   Kathmandu     5
...          ...                    ...     ...         ...   ...
6289   2077-2065        Sumit Kumar Ray    Male   Mahottari  6721
5585   2077-6711  Shailesh Tirhut Tharu    Male     Saptari  6722
5659  2077-10309       Shishir Shrestha    Male   Rupandehi  6723
1084   2077-8951        Asmita Shrestha  Female   Bhaktapur  6724
2249   2077-7883     Govind Singh Karki    Male    Darchula  6725

[6725 rows x 5 columns]